# Tipos de Variables en Estad√≠stica
Cuando trabajamos con datos, uno de los primeros pasos importantes es entender qu√© tipo de variables tenemos. Esto es clave porque seg√∫n el tipo de variable, se elige el an√°lisis correcto.

En este art√≠culo aprender√°s c√≥mo identificar si una variable es:

Cualitativa nominal (por ejemplo: g√©nero, especie, color)

Cualitativa ordinal (por ejemplo: nivel educativo, tama√±o: peque√±o-mediano-grande)

Cuantitativa discreta (por ejemplo: n√∫mero de hijos)

Cuantitativa continua (por ejemplo: peso, altura)

Y lo mejor: lo haremos paso a paso usando Python, con un dataset real llamado penguins.

## üêß Paso 1: Cargar el conjunto de datos
Usaremos una base de datos llamada penguins que viene incluida en la librer√≠a seaborn.

In [2]:
# Importamos librer√≠as necesarias
import seaborn as sns
import pandas as pd

# Cargamos el dataset de ping√ºinos
penguins = sns.load_dataset("penguins")

# Mostramos las primeras filas
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

## üîç Paso 2: Ver la estructura del dataset
Queremos saber cu√°ntas variables hay, c√≥mo se llaman y qu√© tipo de datos contiene cada una.

In [3]:
# Informaci√≥n general del conjunto de datos
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

El comando anterior dice:

Cu√°ntas filas hay

Qu√© columnas tiene el dataset

Si hay datos faltantes (null)

El tipo de dato seg√∫n Python (object, float, int)

## üß™ Paso 3: Ver los tipos de datos
Ahora vamos a listar el tipo de dato de cada columna.

In [4]:
# Ver el tipo de dato de cada columna
penguins.dtypes

species               object
island                object
bill_length_mm       float64
bill_depth_mm        float64
flipper_length_mm    float64
body_mass_g          float64
sex                   object
dtype: object

Esto nos dir√°, por ejemplo:

object: texto o categor√≠as (posiblemente cualitativas)

float64: n√∫mero con decimales (posiblemente cuantitativa continua)

int64: n√∫mero entero (posiblemente cuantitativa discreta)

## üß≠ Paso 4: Clasificar las variables de forma did√°ctica
Vamos a crear una peque√±a funci√≥n que clasifique cada variable en una de las siguientes categor√≠as:

+ Cualitativa nominal

+ Cualitativa ordinal

+ Cuantitativa discreta

+ Cuantitativa continua

In [9]:
# Funci√≥n para clasificar variables
def clasificar_variable(columna, serie):
    if pd.api.types.is_numeric_dtype(serie):
        if serie.dropna().apply(float.is_integer).all():
            return 'Cuantitativa discreta'
        else:
            return 'Cuantitativa continua'
    elif pd.api.types.is_string_dtype(serie) or pd.api.types.is_categorical_dtype(serie):
        if columna in ['species', 'island', 'sex']:
            return 'Cualitativa nominal'
        else:
            return 'Cualitativa ordinal'
    else:
        return 'Otro tipo'

## ‚úÖ Paso 5: Aplicar la clasificaci√≥n a todas las columnas
Ahora aplicamos la funci√≥n a cada variable.

In [10]:
# Clasificamos cada variable
clasificaciones = {}

for col in penguins.columns:
    tipo = clasificar_variable(col, penguins[col])
    clasificaciones[col] = tipo
    print(f"{col}: {tipo}")

species: Cualitativa nominal
island: Cualitativa nominal
bill_length_mm: Cuantitativa continua
bill_depth_mm: Cuantitativa continua
flipper_length_mm: Cuantitativa discreta
body_mass_g: Cuantitativa discreta
sex: Otro tipo

C:\Users\asus  vivobook\AppData\Local\Temp\ipykernel_22824\2215066842.py:8: DeprecationWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, pd.CategoricalDtype) instead
  elif pd.api.types.is_string_dtype(serie) or pd.api.types.is_categorical_dtype(serie):

# üóÉÔ∏è Paso 6: Crear un resumen en tabla
Para que sea m√°s visual, vamos a crear un resumen tipo tabla.

In [11]:
# Creamos una tabla resumen
resumen_df = pd.DataFrame({
    'Variable': penguins.columns,
    'Tipo pandas': penguins.dtypes.astype(str),
    'Clasificaci√≥n did√°ctica': [clasificaciones[col] for col in penguins.columns]
})

# Mostramos la tabla
resumen_df

                            Variable Tipo pandas Clasificaci√≥n did√°ctica
species                      species      object     Cualitativa nominal
island                        island      object     Cualitativa nominal
bill_length_mm        bill_length_mm     float64   Cuantitativa continua
bill_depth_mm          bill_depth_mm     float64   Cuantitativa continua
flipper_length_mm  flipper_length_mm     float64   Cuantitativa discreta
body_mass_g              body_mass_g     float64   Cuantitativa discreta
sex                              sex      object               Otro tipo